.intro-nama-1, .intro-nama-2, .intro-nama-3{

    opacity: 0;
    margin-left: 100px;

}

.bg-intro-nama-3{
    
    width : 300px; 
    height: 80px;
    top: 50px;
    left: 40px;     
    background-color: #b5def3;
    opacity: 0;


}

.pembungkus-intro{
    padding-top: 3vw;
}