.toolsCard{
box-shadow: 0px;
opacity: 0;
transition: 0.1s;

}

.toolsCard:hover{

box-shadow: 0px 0px 8px #979797;
cursor: pointer;


}

.text-tools-card{
    font-size: 12px;
}

.end-of-tools{
    height: 10vh;
}