.judul-kontak{

    transform: translateY(-20vh);
    width: 100%;
    text-align: center;
    margin-bottom: 5vh;
    padding: 0;
    height: auto;
    color: #072227;
    font-size: calc(3em + 3vw);
    font-family:Georgia, 'Times New Roman', Times, serif;

}

.isi-kontak-font{
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: calc(1em + 1vw);
    color: #072227;
}

.isi-kontak{

    box-sizing: border-box;
    width: 50%;
    background-color: white;
    height: auto;
    padding: 20px 40px;
    box-shadow: 0px 10px 40px 10px rgba(0, 84, 97, 0.15);
    border-radius: 12px;
    margin: 2vh 0;
    cursor: pointer;
    transition: 0.5s;

}

.isi-kontak:hover{

    background-color: #ffff48;


}

@media screen and (max-width: 991px){
    .isi-kontak{
        padding: 20px 10px;
        width: 95%;

    }


}

