.siapa-saya{

    font-size: 60px;
    color: #000000;

}


.scroll-stick{
    width: 9px;
    height: 60px;
    background-color: #000000;
    border-radius: 6px;
}


.gambar-profesi{
    width: 280px;
    height: 400px;
    padding: 20px 40px;
    margin-left: 40px;
    margin-left: 40px;
    margin-top: 50px;
    font-size: 25px;
    font-weight: bolder;
    /*transition: 0.5s;*/
    border-radius: 6px;
    background-color: #EBF4F6;
    /*box-shadow: 10px 10px #b3deec;*/
    box-shadow: 0px;
    x:-100px;

}

.gambar-profesi:hover{

    /*box-shadow: 30px 20px #b3deec;*/
    cursor: pointer;
    /*box-shadow: 2px 2px 30px #b3deec;*/
}